@import '../../../../theme/mixins';

.mainContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	height: 100dvh;

	padding-top: 100px;

	padding-left: 15px;
	padding-right: 15px;

	@include md() {
		padding-left: 32px;
		padding-right: 32px;
		padding-top: 30px;
	}

	@include lg() {
		padding-left: 64px;
		padding-right: 64px;
	}
}
