@import '../../../theme/mixins';

.technologies {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	gap: 30px;

	@include md() {
		gap: 40px;
	}

	@include lg() {
		gap: 50px;
	}
}

.logoContainer {
	position: relative;

	border-radius: 12px;

	@include transition();

	&::before {
		content: ' ';
		position: absolute;
		top: -15px;
		left: -20px;
		right: -20px;
		bottom: -15px;
		z-index: -1;

		border-radius: inherit;
		transition: inherit;

		background-color: $black;
	}

	&:hover {
		opacity: 1 !important;

		transform: scale(1.05);
	}
}

.link {
	position: relative;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
