@import '../../../theme/mixins';

.navbar {
	position: fixed;
	left: 0;
	top: 0;

	display: flex;
	justify-content: space-between;

	width: 100%;

	padding: 1rem;

	@include md() {
		padding: 2rem;
	}
}
