@import '../../../theme/mixins';

.navbar {
	position: fixed;
	left: 0;
	top: 0;

	display: flex;
	justify-content: flex-end;

	width: 100%;

	padding: 1rem;

	@include md() {
		padding: 2rem;
	}

	& h1 {
		display: none;
	}

	@include sm() {
		justify-content: space-between;

		& h1 {
			display: initial;
		}
	}
}

.mdVisible {
	display: none;

	@include md() {
		display: inline-block;
	}
}
