@import '@theme/variables';
@import '@theme/mixins';

.text {
	position: relative;

	&.regular {
		font-weight: 400;
	}

	&.bold {
		font-weight: 700;
	}

	&.align {
		&.left {
			text-align: left;
		}

		&.center {
			width: 100%;
			text-align: center;
		}

		&.right {
			text-align: right;
		}
	}

	@include unify-parent('.h1') {
		&.small {
			font-size: calc(0.75 * 3rem * 0.6);

			@include md() {
				font-size: calc(0.75 * 3rem * 0.8);
			}
			@include lg() {
				font-size: calc(0.75 * 3rem * 0.9);
			}
			@include xl() {
				font-size: calc(0.75 * 3rem * 1);
			}
		}

		&.medium {
			font-size: calc(3rem * 0.6);

			@include md() {
				font-size: calc(3rem * 0.8);
			}
			@include lg() {
				font-size: calc(3rem * 0.9);
			}
			@include xl() {
				font-size: calc(3rem * 1);
			}
		}

		&.large {
			font-size: calc(1.25 * 3rem * 0.6);

			@include md() {
				font-size: calc(1.25 * 3rem * 0.8);
			}
			@include lg() {
				font-size: calc(1.25 * 3rem * 0.9);
			}
			@include xl() {
				font-size: calc(1.25 * 3rem * 1);
			}
		}
	}

	@include unify-parent('.h2') {
		&.small {
			font-size: calc(0.75 * 2.5rem * 0.6);

			@include md() {
				font-size: calc(0.75 * 2.5rem * 0.8);
			}
			@include lg() {
				font-size: calc(0.75 * 2.5rem * 0.9);
			}
			@include xl() {
				font-size: calc(0.75 * 2.5rem * 1);
			}
		}

		&.medium {
			font-size: calc(2.5rem * 0.6);

			@include md() {
				font-size: calc(2.5rem * 0.8);
			}
			@include lg() {
				font-size: calc(2.5rem * 0.9);
			}
			@include xl() {
				font-size: calc(2.5rem * 1);
			}
		}

		&.large {
			font-size: calc(1.25 * 2.5rem * 0.6);

			@include md() {
				font-size: calc(1.25 * 2.5rem * 0.8);
			}
			@include lg() {
				font-size: calc(1.25 * 2.5rem * 0.9);
			}
			@include xl() {
				font-size: calc(1.25 * 2.5rem * 1);
			}
		}
	}

	@include unify-parent('.h3') {
		&.small {
			font-size: calc(0.75 * 2rem * 0.6);

			@include md() {
				font-size: calc(0.75 * 2rem * 0.8);
			}
			@include lg() {
				font-size: calc(0.75 * 2rem * 0.9);
			}
			@include xl() {
				font-size: calc(0.75 * 2rem * 1);
			}
		}

		&.medium {
			font-size: calc(2rem * 0.6);

			@include md() {
				font-size: calc(2rem * 0.8);
			}
			@include lg() {
				font-size: calc(2rem * 0.9);
			}
			@include xl() {
				font-size: calc(2rem * 1);
			}
		}

		&.large {
			font-size: calc(1.25 * 2rem * 0.6);

			@include md() {
				font-size: calc(1.25 * 2rem * 0.8);
			}
			@include lg() {
				font-size: calc(1.25 * 2rem * 0.9);
			}
			@include xl() {
				font-size: calc(1.25 * 2rem * 1);
			}
		}
	}
	@include unify-parent('.h4') {
		&.small {
			font-size: calc(0.75 * 1.5rem * 0.6);

			@include md() {
				font-size: calc(0.75 * 1.5rem * 0.8);
			}
			@include lg() {
				font-size: calc(0.75 * 1.5rem * 0.9);
			}
			@include xl() {
				font-size: calc(0.75 * 1.5rem * 1);
			}
		}

		&.medium {
			font-size: calc(1.5rem * 0.6);

			@include md() {
				font-size: calc(1.5rem * 0.8);
			}
			@include lg() {
				font-size: calc(1.5rem * 0.9);
			}
			@include xl() {
				font-size: calc(1.5rem * 1);
			}
		}

		&.large {
			font-size: calc(1.25 * 1.5rem * 0.6);

			@include md() {
				font-size: calc(1.25 * 1.5rem * 0.8);
			}
			@include lg() {
				font-size: calc(1.25 * 1.5rem * 0.9);
			}
			@include xl() {
				font-size: calc(1.25 * 1.5rem * 1);
			}
		}
	}
	@include unify-parent('.h5') {
		&.small {
			font-size: calc(0.75 * 1.25rem * 0.6);
			@include md() {
				font-size: calc(0.75 * 1.25rem * 0.8);
			}
			@include lg() {
				font-size: calc(0.75 * 1.25rem * 0.9);
			}
			@include xl() {
				font-size: calc(0.75 * 1.25rem * 1);
			}
		}

		&.medium {
			font-size: calc(1.25rem * 0.6);

			@include md() {
				font-size: calc(1.25rem * 0.8);
			}
			@include lg() {
				font-size: calc(1.25rem * 0.9);
			}
			@include xl() {
				font-size: calc(1.25rem * 1);
			}
		}

		&.large {
			font-size: calc(1.25 * 1.25rem * 0.6);

			@include md() {
				font-size: calc(1.25 * 1.25rem * 0.8);
			}
			@include lg() {
				font-size: calc(1.25 * 1.25rem * 0.9);
			}
			@include xl() {
				font-size: calc(1.25 * 1.25rem * 1);
			}
		}
	}
	@include unify-parents(('.h6', 'p')) {
		&.small {
			font-size: calc(0.75 * 1rem * 0.6);

			@include md() {
				font-size: calc(0.75 * 1rem * 0.8);
			}
			@include lg() {
				font-size: calc(0.75 * 1rem * 0.9);
			}
			@include xl() {
				font-size: calc(0.75 * 1rem * 1);
			}
		}

		&.medium {
			font-size: calc(1rem * 0.6);

			@include md() {
				font-size: calc(1rem * 0.8);
			}
			@include lg() {
				font-size: calc(1rem * 0.9);
			}
			@include xl() {
				font-size: calc(1rem * 1);
			}
		}

		&.large {
			font-size: calc(1.25 * 1rem * 0.6);

			@include md() {
				font-size: calc(1.25 * 1rem * 0.8);
			}
			@include lg() {
				font-size: calc(1.25 * 1rem * 0.9);
			}
			@include xl() {
				font-size: calc(1.25 * 1rem * 1);
			}
		}
	}

	@include colors();
}
